@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gruvbox-light-bg0 text-gruvbox-light-fg0;
  }

  body.dark {
    @apply bg-gruvbox-dark-bg0 text-gruvbox-dark-fg0;
  }
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line {
  display: inline-block;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  @apply text-gruvbox-light-fg4;
}

.dark code .line::before {
  @apply text-gruvbox-dark-fg4;
}

.line-highlight {
  @apply bg-gruvbox-light-bg2;
}

.dark .line-highlight {
  @apply bg-gruvbox-dark-bg2;
}
